.vscode/**
.vscode-test-web/**
.github/**
coverage/**
playwright-report/**
test-results/**
src/**
out/**
node_modules/**
fixtures/**
scripts/**
sample/**
dist/**/test/**
.gitignore
*.vsix
pipeline-fail
vsc-extension-quickstart.md
webpack.config.js
esbuild.js
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.codex
